.App {
  text-align: center;
}

.add-task-button {
  font-size: 1.5rem;
  background: bisque;
  margin-bottom: 1rem;
  border: none;
}

.add-task-button:hover {
  background: lightcoral;
  cursor: pointer;
}
